<!DOCTYPE html>
<html lang="en" ng-app="strider-encoder-server" ng-controller="appCtrl">
  <head>
    <base href="/">
    <meta name='description', content='Strider Encoder Serve'>
    <title> Itemhound App </title>

    <!--Application CSS Files-->
    {% for cssFile in appVendorCSSFiles %}<link rel="stylesheet" href="{{cssFile}}">
    {% endfor %}

  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <nav id="headmenu" class="navbar-inner">
        <div class="container">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#/">Home</a></li>
            <li><a href="#/manageEvents">Manage Events</a></li>
            <li><a href="#/manageUsers">Manage Users</a></li>
            <li><a href="#/viewRecords">View Records</a></li>
            <li ng-show="hasUser"><a href="#/logout">Logout</a></li>
            <li ng-hide="hasUser"><a href="#/login">Login</a></li>
          </ul>
        </div>
      </nav>
    </nav>

    <section class="inner-body">
      {% block content %} {% endblock %}
    </section>

    {% for jsFile in appVendorJSFiles %}<script type="text/javascript" src="{{jsFile}}"></script>
    {% endfor %}          

    {% for jsFile in appjsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>
    {% endfor %}   

    <div class="modal-spinner"></div>
  </body>
</html>